*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fdba32,#fdb932aa),url(https://images.unsplash.com/photo-1590674899484-d5640e854abe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFya2luZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
background-size: cover;
position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 50px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 40px;
    color: #fdba32;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #fdba32;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);

}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px ;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #9999;
}
.form p{
    text-align: left;
    font-size: 13px;
}
.form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis:48%;
    background: #fdba32;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;

}
.input-group{
    height: 200px;
}
.btn-field button.disable{
background: #eaeaea;
color: #555;
}

/* Style for the button-like input */
.button-like-input {
    /* margin-top: 0px; */
    display: inline-flex;
    margin: 20px 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fdba32;
    border-radius: 5px;
    background-color: #fdba32;
    color: #fff;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.button-like-input:hover {
    background-color: #2980b9;
    border: 2px solid #2980b9;
}